*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(219,226,226);
}
.row{
    background-color: white;
}
h2{
    font :normal normal bold 30px/40px;
}
.login{
    margin:auto;
}

.login .right .all{
    padding:20px;
    width:95%;
}
.login .cont{
    height: 100vh;
}
.login .right img{
    width:20%;
}
label{
    margin:5px;
}
.login .right .form-group{
    margin:4px;
}
.login .right , .login .left{
    min-height: 100vh;
}
.login .left img{
    min-height: 100vh;
}
.login .right .btn{
    width:50%;
    display: block;
    margin:10px auto;
}
.login form input{
    background-color: #666666;
    opacity: 0.08;
    padding:13px 8px;
}
.login form button{
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    font-weight: bolder;
}
.login form button:last-child:hover{
    opacity: 0.8;
    transition: 0.2s all ease-in;
    -webkit-transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
    -ms-transition: 0.2s all ease-in;
    -o-transition: 0.2s all ease-in;
}
p{
    text-align: center;
}
a{
    color:black;
    text-decoration: none;
}

.ss{
    color:red;
    font-weight: bolder;
    margin-top:3px;
    padding:5px;
    align-self: center;
}
.ss > div {
    border:1px solid #bb2124;
    width:250px;
}

/**Style index 3 Page */
input[type='search']{
    width:350px;
}
/**End of style indexx 3 Page  */






@media(max-width:768px){
    .login .left{
        display: none;
    }
    input[type='search']{
        width:100%;
    }
}