* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
.row {
    background-color: #FAFAFA;
}

h2 {
    font: normal normal bold 30px/40px;
}

.login {
    margin: auto;
}

.login .right .all {
    padding: 20px;
    width: 95%;
}

.login .cont {
    height: 100vh;
}

.login .right img {
    width: 20%;
}

label {
    margin: 5px;
}

.login .right .form-group {
    margin: 4px;
}

.login .right,
.login .left {
    min-height: 100vh;
}

.login .left img {
    min-height: 100vh;
}

.login .right .btn {
    width: 50%;
    display: block;
    margin: 10px auto;
}

.login form input {
    background-color: #666666;
    opacity: 0.08;
    padding: 13px 8px;
}

.login form button {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: bolder;
}

.login form button:last-child:hover {
    opacity: 0.8;
    transition: 0.2s all ease-in;
    -webkit-transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
    -ms-transition: 0.2s all ease-in;
    -o-transition: 0.2s all ease-in;
}

p {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

.ss {
    color: red;
    font-weight: bolder;
    margin-top: 3px;
    padding: 5px;
    align-self: center;
}

.ss>div {
    border: 1px solid #bb2124;
    width: 250px;
}
.navbar{
    z-index: 1;
}
/**Style index 3 Page */
input[type='search'] {
    width: 350px;
}

/**End of style indexx 3 Page  */
.sidebar {
    margin: 0;
    padding: 10px;
    background-color: #f1f1f1;
    position: fixed;
    transform: translateX(-100%);
    height: 100%;
    width: 200px;
    z-index: 101;
    transition: left 0.2s ease-in-out;
    overflow-x: hidden !important;
}
.body{
    padding-left:205px;
}
.sidebar a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 3px;
}

.sidebar a.active {
    background: linear-gradient(270deg, #5C3D2E 0%, #b85c38 100%) 0% 0% no-repeat padding-box;
    color: white;
}



div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.activeFaBar {
    transform: translateY(0%);
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

.bodyContLeft {
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

/**Style bodyContent Section  */

.tabsAndNav nav {
    background-color: #aeabab;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: black !important;
}

.tabsAndNav .nav-tabs button i {
    color: #b85c38;
    padding: 3px;
}

/* tab content */

.tab-content .tab-pane select , .tab-content .tab-pane .date input{
    padding:10px;
    background-color:#FAFAFA;
    border:2px solid #4f8259;
    background-color: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin:8px;
    width:100%;
}

/**Tab content  */
table{
    width:100%;
}
table, tr, td {
    border: 1px solid #040;
    padding:15px;
}

table td a{
    text-decoration: underline;
    color: #b85c38;
}
table td span:first-child{
    color: #b85c38;
}
.historyCollec{
    padding:10px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
.historyCollec div{
    margin: 10px;
    background-color: #EBEBEB;
    width:35px;
    height: 35px;
    padding:3px;
    text-align: center;
}
/* Style bodyContent Section*/


@media (max-width:768px) {
    #search{
        width:100%;
    }
    .bodyContent .contentNav{
        flex-direction: column;
    }
    .sidebar{
        width:130px;
        font-size: 13px;
    }

    .body{
        padding-left:130px;
    }
    .nav-tabs button{
        font-size:13px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width:30%;
    }
    .nav-tabs{
        width:100%;
    }
    .tab-content .tab-pane select , .tab-content .tab-pane .date input{
        width:100%;
    }
    body{
        overflow-x: hidden;
    }
    .row{
        width:100%;
    }
    .tab-pane{
        width:100%;
    }
}